<html>
  <head></head>
    <body>
      <h1>Albums</h1>

      <% @albums.each do |album| %>
        <div>
        Title: <%= album.title %>
        Released: <%= album.release_year %>
        <a href="/albums/<%= album.id %>">Go to this album</a>
      </div>
      <% end %>
    </body>
</html>