<form action="/artists" method="POST">
  <div>
    <label> Artist name: </label>
    <input type="text" name="name">
  </div>
  <div>
    <label> Genre: </label>
    <input type="text" name="genre">
  </div>
  <input type="submit"/>
</form>