<form action="/albums" method="POST">
  <div>
    <label> Album title: </label>
    <input type="text" name="title">
  </div>
  <div>
    <label> Release year: </label>
    <input type="text" name="release_year">
  </div>
  
  <div>
    <label> Artist id: </label>
    <input type="text" name="artist_id">
  </div>

  <input type="submit"/>
</form>